.containerStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acdeffdd;
  padding: 20px;
  border-radius: 20px;
}
  
h3 {
  text-align: center;
  background: linear-gradient(80deg, #359bbc, #050e37);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: aliceblue;
  margin: 10px 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

Button {
  margin: auto;
}

.addButton {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #4aed;
  background: linear-gradient(45deg, #282881, #4aed);
  border-radius: 20px;
  color: floralwhite;
  font-weight: bold;
}

.removeButton {
  background: linear-gradient(45deg, #db3704, #ed977c);
  border: 1px solid #ed977c;
}

.dateField {
  width: 47%;
  margin: 5px;
  /* margin: 5px; */
}


/* css for the main build display  */
.buildWrapper {
  display: flex;
  height: 100%;
  padding: 10px;
}

.formContainer {
  flex: 7; /*display 70% of the screen */
  position: sticky;
  top: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.cvContainer {
  flex: 3; /*display 30% of the screen */
  position: sticky;
  top: 10px;
}

/* custom scrollbar for the form */
.customScrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: #d2e7fb; /* Background color of the scrollbar track */
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(80deg, #359bbc, #050e37);/* Background color of the scrollbar thumb */
  border-radius: 6px; /* Make the scrollbar thumb rounded */
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(80deg, #050e37, #359bbc); /* Change the scrollbar thumb color when hovered */
}