.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: rgba(0, 0, 0, 0.6); /* Set the background color and transparency */
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .active {
    text-decoration: none;
  }
  


nav a.nav-link {
    letter-spacing: 0.6px;
    cursor: pointer;
}


.nav__logo {
    padding-left: 40px;
    font-family: 'MonteCarlo', cursive;
    font-size: 40px;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white);
}
.navbar-nav > li > a:hover,
.navbar-nav > li > .nav-link:hover {
  color: rgb(182, 58, 176);
}

.navbar-nav > li > a:focus,
.navbar-nav > li > .nav-link:focus {
    color: rgb(13, 150, 97);
}




/* .navbar-brand {
    max-width: 17.25rem;
}
 */

 @media screen and (max-width: 800px) {
    .nav__logo {
        padding-left: 5px;
    }

    .navbar-nav {
        text-align: center;
    }
}